{% extends 'SamenjoyResBundle::base.html.twig' %}
{%if menu_active is not defined%}{%set menu_active=''%}{%endif%}
{%if smenu_active1 is not defined%}{%set smenu_active1='dashboard'%}{%endif%}
{%if smenu_active2 is not defined%}{%set smenu_active2=''%}{%endif%}
{%if smenu_active3 is not defined%}{%set smenu_active3=''%}{%endif%}
{%if tabActive is not defined%}{%set tabActive=1%}{%endif%}
    {%block static_css%}
    {{parent()}}
        <link rel="stylesheet" type="text/css" href="/css/plugins/metisMenu/metisMenu.min.css">
        <link rel="stylesheet" type="text/css" href="/css/plugins/dataTables.bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/sb-admin-2.css">
    {%endblock static_css%}
    {%block begin1_dynamic_jstxt%}
    {%endblock begin1_dynamic_jstxt%}
    {%block end_static_js%}
        {{parent()}}
        <script type="text/javascript" src="/js/plugins/metisMenu/metisMenu.min.js"></script>
        <script type="text/javascript" src="/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/js/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script type="text/javascript" src="/js/tinymce/jquery.tinymce.min.js"></script>
        <script type="text/javascript" src="/js/sb-admin-2.js"></script>
    {%endblock end_static_js%}
    {%block html_body_content%}
    <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img src="/images/logo.png" alt="Samenjoy" class="img-responsive"></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
        {%block topmenu%}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ faIco('user') }} {{ faIco('caret-down') }}</a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">{{ faIco('user') }} Mon Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">{{ faIco('sign-out') }} Déconnexion</a></li>
                </ul>
            </li>
        {%endblock topmenu%}
        </ul>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                {%block leftmenu%}
                    <li><a href="{{path('_front_homepage')}}" target="_blank">{{ faIco('home') }} Accueil</a></li>
                    <li><a {% if smenu_active1 == 'dashboard' %}class="active"{% endif %} href="{{path('_admin_homepage')}}">{{ faIco('dashboard') }} Admin</a></li>
                    <li {% if menu_active == 'gears' %}class="active"{% endif %} >
                        <a href="#">{{ faIco('gears') }} Config<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a {% if smenu_active1 == 'role.list' %}class="active"{% endif %} href="{{ path('_admin_config_role_list') }}">Liste des Privilèges</a></li>
                            <li><a {% if smenu_active1 == 'role.add' %}class="active"{% endif %} href="{{ path('_admin_config_role_addGet') }}">Ajouter Privilège</a></li>
                        </ul>
                    </li>
                    <li {% if menu_active == 'gears' %}class="active"{% endif %} >
                        <a href="#">{{ faIco('gears') }} Marques<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a {% if smenu_active1 == 'brand.list' %}class="active"{% endif %} href="{{ path('_admin_brand_list') }}">Liste des Marques</a></li>
                            <li><a {% if smenu_active1 == 'brand.add' %}class="active"{% endif %} href="{{ path('_admin_brand_addGet') }}">Ajouter Marque</a></li>
                        </ul>
                    </li>
                    <li {% if menu_active == 'static' %}class="active"{% endif %} >
                        <a href="#">{{ fiIco('link') }} Static<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="flot.html">Flot Charts</a></li>
                            <li><a href="morris.html">Morris.js Charts</a></li>
                        </ul>
                    </li>
                    <!--
                    <li><a href="tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    <li><a href="forms.html"><i class="fa fa-edit"></i> Forms</a></li>
                    <li><a href="#"><i class="fa fa-wrench"></i> UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="panels-wells.html">Panels and Wells</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="notifications.html">Notifications</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="grid.html">Grid</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="#">Second Level Item</a></li>
                            <li><a href="#">Second Level Item</a></li>
                            <li class="active">
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="#">Third Level Item</a></li>
                                    <li><a class="active" href="#">Third Level Item</a></li>
                                    <li><a href="#">Third Level Item</a></li>
                                    <li><a href="#">Third Level Item</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o"></i> Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="blank.html">Blank Page</a></li>
                            <li><a href="login.html">Login Page</a></li>
                        </ul>
                    </li>
                    -->
                {%endblock leftmenu%}
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{%if pagetitle is defined%}{{pagetitle|trans|raw}} - {%endif%}Samenjoy Admin</h2>
                {% block breadcrumb %}
                <ol class="breadcrumb">
                {% block breadcrumb_content %}
                    <li>
                        <a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} Admin</a>
                    </li>
                {% endblock breadcrumb_content %}
                </ol>
                {% endblock breadcrumb %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {%include 'SASEdevCommonsBootstrapBundle::flash.html.twig' with { 'close': true }%}
            </div>
        </div>
        {%block content%}
        {%endblock content%}
    </div>
</div>
{%endblock html_body_content%}