{% extends 'SamenjoyAdminBundle::admin.html.twig' %}
{%block end2_dynamic_jstxt%}
$(function() {
    {% if roles|length != 0 %}
    $('#roles_list').dataTable({
      "columns": [
        null,
        null,
        null,
        { "searchable": false, "sortable": false },
      ]
    });
    {% endif %}
});
{%endblock end2_dynamic_jstxt%}
{% block breadcrumb_content %} {{ parent() }}
<li><a href="{{ path('_admin_config_role_list') }}">Liste des Privilèges</a></li>
{% endblock breadcrumb_content %} {% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('_admin_config_role_addGet') }}" class="btn btn-primary">{{ glyphIco('plus') }} Ajouter Nouveau</a>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Liste des Privilèges</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-bordered table-condensed table-hover table-striped" id="roles_list">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Description</th>
								<th>Nbr Utilisateurs</th>
								<th width="10%">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for role in roles %}
							<tr>
								<td>{{ role.name }}</td>
								<td>{{ role.description|raw }}</td>
								<td>{{ bsBadge(role.users|length)  }}</td>
								<td class="center"><a href="{{ path('_admin_config_role_editGet', {'uid': role.id}) }}" class="btn btn-info">Voir</a> <a href="{{ path('_admin_config_role_delete', {'uid': role.id}) }}" class="btn btn-danger">Supprimer</a></td>
							</tr>
							{% else %}
							<tr class="warning">
								<td colspan="4" class="center warning">Aucun Role Trouvé</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
